Repository cbmullen-inc/choicescripts: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run spellcheck, make test-all, npm run lint-markdown

.lintstagedrc.json:

{
    "*.txt" : [
        "npm run spellcheck",
        "make test-all"
    ],
    "*.md" : "npm run lint-markdown"
}

use more complex game to test process
  choicescript_src/web/mygame/scenes/animal.txt
  choicescript_src/web/mygame/scenes/anotherscene.txt
  choicescript_src/web/mygame/scenes/choicescript_stats.txt
  choicescript_src/web/mygame/scenes/death.txt
  choicescript_src/web/mygame/scenes/ending.txt
  choicescript_src/web/mygame/scenes/fruit.txt
  choicescript_src/web/mygame/scenes/gosub.txt
  choicescript_src/web/mygame/scenes/startup.txt
  choicescript_src/web/mygame/scenes/variables.txt
  games/game1/images/cliffordstower.png
  games/game1/index.html
  games/game1/scenes/animal.txt
  games/game1/scenes/anotherscene.txt
  games/game1/scenes/background.txt
  games/game1/scenes/chapter1.txt
  games/game1/scenes/charactergen.txt
  games/game1/scenes/choicescript_stats.txt
  games/game1/scenes/death.txt
  games/game1/scenes/defaultduncan.txt
  games/game1/scenes/ending.txt
  games/game1/scenes/fruit.txt
  games/game1/scenes/gosub.txt
  games/game1/scenes/prologue.txt
  games/game1/scenes/skillsetupsurvey.txt
  games/game1/scenes/startup.txt
  games/game1/scenes/upgradeskills.txt
  games/game1/scenes/variables.txt
  games/game1/sounds/heavy-rain-nature-sounds-8186-license.txt
  games/game1/sounds/heavy-rain-nature-sounds-8186.mp3
  games/game2/index.html
  games/game2/scenes/animal.txt
  games/game2/scenes/anotherscene.txt
  games/game2/scenes/choicescript_stats.txt
  games/game2/scenes/death.txt
  games/game2/scenes/ending.txt
  games/game2/scenes/fruit.txt
  games/game2/scenes/gosub.txt
  games/game2/scenes/startup.txt
  games/game2/scenes/variables.txt
  scripts/choicescript.sh
Due: npm run spellcheck, make test-all

Update Library
  cspell.json
  index.html
Due: none

Added first choices
  games/game2/.vscode/settings.json
  games/game2/scenes/choicescript_stats.txt
  games/game2/scenes/petitions.txt
  games/game2/scenes/prologue.txt
  games/game2/scenes/starter.txt
  games/game2/scenes/startup.txt
Due: npm run spellcheck, make test-all

Add temp sounds
  games/game2/images/tempimage.png
  games/game2/sounds/tempsound.mp3
Due: none

First choices (#10)
  games/game2/.vscode/settings.json
  games/game2/images/tempimage.png
  games/game2/scenes/choicescript_stats.txt
  games/game2/scenes/petitions.txt
  games/game2/scenes/prologue.txt
  games/game2/scenes/starter.txt
  games/game2/scenes/startup.txt
  games/game2/sounds/tempsound.mp3
Due: npm run spellcheck, make test-all

Add menu and various updates for basic flow
  cspell.json
  games/game2/index.html
  games/game2/scenes/choicescript_stats.txt
  games/game2/scenes/end_game.txt
  games/game2/scenes/kingdom_upgrades.txt
  games/game2/scenes/menu.txt
  games/game2/scenes/prologue.txt
  games/game2/scenes/scout_report.txt
  games/game2/scenes/staff.txt
  games/game2/scenes/starter.txt
  games/game2/scenes/startup.txt
  games/game2/scenes/throne_room.txt
  games/game2/scenes/troops.txt
  games/game2/scenes/visitor_next.txt
  games/game2/scenes/visitor_noble.txt
  games/game2/scenes/visitor_pleb_d4.txt
  games/game2/scenes/visitor_pleb_d5.txt
  games/game2/scenes/visitor_research.txt
  games/game2/scenes/year_end.txt
Due: npm run spellcheck, make test-all

Menu (#11)
  cspell.json
  games/game2/index.html
  games/game2/scenes/choicescript_stats.txt
  games/game2/scenes/end_game.txt
  games/game2/scenes/kingdom_upgrades.txt
  games/game2/scenes/menu.txt
  games/game2/scenes/prologue.txt
  games/game2/scenes/scout_report.txt
  games/game2/scenes/staff.txt
  games/game2/scenes/starter.txt
  games/game2/scenes/startup.txt
  games/game2/scenes/throne_room.txt
  games/game2/scenes/troops.txt
  games/game2/scenes/visitor_next.txt
  games/game2/scenes/visitor_noble.txt
  games/game2/scenes/visitor_pleb_d4.txt
  games/game2/scenes/visitor_pleb_d5.txt
  games/game2/scenes/visitor_research.txt
  games/game2/scenes/year_end.txt
Due: npm run spellcheck, make test-all

Add kingdom management to games library
  games/game2/images/crown.png
  games/game2/images/tempimage.png
  index.html
Due: none

Update library (#12)
  games/game2/images/crown.png
  games/game2/images/tempimage.png
  index.html
Due: none

fix image size
  games/game2/images/crown.png
Due: none

fix image size (#13)
  games/game2/images/crown.png
Due: none

Rename game1 and game2. Add save load functionality
  choicescript_src/web/ChoiceScriptSavePlugin.js
  choicescript_src/web/mygame/index-old.html
  cspell.json
  games/game1/images/cliffordstower.png
  games/game1/index.html
  games/game1/scenes/background.txt
  games/game1/scenes/chapter1.txt
  games/game1/scenes/charactergen.txt
  games/game1/scenes/choicescript_stats.txt
  games/game1/scenes/defaultduncan.txt
  games/game1/scenes/ending.txt
  games/game1/scenes/prologue.txt
  games/game1/scenes/startup.txt
  games/game1/scenes/upgradeskills.txt
  games/game1/sounds/heavy-rain-nature-sounds-8186-license.txt
  games/game1/sounds/heavy-rain-nature-sounds-8186.mp3
  games/game2/sounds/tempsound.mp3
  games/kingdom_manager/.vscode/settings.json
  games/kingdom_manager/gameprops/index.html
  games/kingdom_manager/images/crown.png
  games/kingdom_manager/index.html
  games/kingdom_manager/scenes/choicescript_stats.txt
  games/kingdom_manager/scenes/end_game.txt
  games/kingdom_manager/scenes/kingdom_upgrades.txt
  games/kingdom_manager/scenes/menu.txt
  games/kingdom_manager/scenes/prologue.txt
  games/kingdom_manager/scenes/scout_report.txt
  games/kingdom_manager/scenes/staff.txt
  games/kingdom_manager/scenes/startup.txt
  games/kingdom_manager/scenes/throne_room.txt
  games/kingdom_manager/scenes/troops.txt
  games/kingdom_manager/scenes/visitor_next.txt
  games/kingdom_manager/scenes/visitor_noble.txt
  games/kingdom_manager/scenes/visitor_pleb_d4.txt
  games/kingdom_manager/scenes/visitor_pleb_d5.txt
  games/kingdom_manager/scenes/visitor_research.txt
  games/kingdom_manager/scenes/year_end.txt
  games/kingdom_manager/sounds/tempsound.mp3
  index.html
  scripts/choicescript.sh
Due: npm run spellcheck, make test-all

update default game in makefile, because I'm lazy
  Makefile
  scripts/choicescript.sh
Due: none

test save persist, add consequence
  games/kingdom_manager/scenes/throne_room.txt
Due: npm run spellcheck, make test-all

test save persist. Add consequences
  games/kingdom_manager/scenes/throne_room.txt
Due: npm run spellcheck, make test-all

Test save persist (#15)
  games/kingdom_manager/scenes/throne_room.txt
Due: npm run spellcheck, make test-all

An arkham horror - ideas
  cspell.json
  games/an_arkham_horror/.vscode/settings.json
  games/an_arkham_horror/gameprops/index.html
  games/an_arkham_horror/images/arkham.png
  games/an_arkham_horror/scenes/chaos_bag.txt
  games/an_arkham_horror/scenes/choicescript_stats.txt
  games/an_arkham_horror/scenes/choose_investigator.txt
  games/an_arkham_horror/scenes/encounter.txt
  games/an_arkham_horror/scenes/end_game.txt
  games/an_arkham_horror/scenes/location_attic.txt
  games/an_arkham_horror/scenes/location_library.txt
  games/an_arkham_horror/scenes/location_sitting_room.txt
  games/an_arkham_horror/scenes/startup.txt
  index.html
Due: npm run spellcheck, make test-all

An arkham horror - ideas (#16)
  cspell.json
  games/an_arkham_horror/.vscode/settings.json
  games/an_arkham_horror/gameprops/index.html
  games/an_arkham_horror/images/arkham.png
  games/an_arkham_horror/scenes/chaos_bag.txt
  games/an_arkham_horror/scenes/choicescript_stats.txt
  games/an_arkham_horror/scenes/choose_investigator.txt
  games/an_arkham_horror/scenes/encounter.txt
  games/an_arkham_horror/scenes/end_game.txt
  games/an_arkham_horror/scenes/location_attic.txt
  games/an_arkham_horror/scenes/location_library.txt
  games/an_arkham_horror/scenes/location_sitting_room.txt
  games/an_arkham_horror/scenes/startup.txt
  index.html
Due: npm run spellcheck, make test-all

An arkham horror - compiled
  games/kingdom_manager/index.html
Due: none

Arkham basics (#17)
  games/kingdom_manager/index.html
Due: none

An arkham horror - compiled
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/startup.txt
  games/an_arkham_horror/sounds/tempsound.mp3
Due: npm run spellcheck, make test-all

Arkham basics (#18)
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/startup.txt
  games/an_arkham_horror/sounds/tempsound.mp3
Due: npm run spellcheck, make test-all

Add chaos bag to scenes
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all

Add chaos bag to scenes (#19)
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all

have netlify compile prior to publishing
  Makefile
  cspell.json
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/startup.txt
  scripts/compile_all.sh
Due: npm run spellcheck, make test-all

have netlify compile prior to publishing (#20)
  Makefile
  cspell.json
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/startup.txt
  scripts/compile_all.sh
Due: npm run spellcheck, make test-all

Update precommit to remind me to compile
  .husky/pre-commit
Due: none

Update precommit to remind me to compile (#21)
  .husky/pre-commit
Due: none

Add lrrh
  index.html
  jenny/little_red_riding_hood/index.html
  jenny/little_red_riding_hood/lrrh.jpg
Due: none

Add lrrh (#22)
  index.html
  jenny/little_red_riding_hood/index.html
  jenny/little_red_riding_hood/lrrh.jpg
Due: none

Add array functionality to arkham
  Makefile
  cheatsheet.md
  cspell.json
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/chaos_bag.txt
  games/an_arkham_horror/scenes/choicescript_stats.txt
  games/an_arkham_horror/scenes/encounter.txt
  games/an_arkham_horror/scenes/encounter_action.txt
  games/an_arkham_horror/scenes/location_attic.txt
  games/an_arkham_horror/scenes/location_library.txt
  games/an_arkham_horror/scenes/location_sitting_room.txt
  games/an_arkham_horror/scenes/locations.txt
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all, npm run lint-markdown

Add array functionality to arkham (#23)
  Makefile
  cheatsheet.md
  cspell.json
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/chaos_bag.txt
  games/an_arkham_horror/scenes/choicescript_stats.txt
  games/an_arkham_horror/scenes/encounter.txt
  games/an_arkham_horror/scenes/encounter_action.txt
  games/an_arkham_horror/scenes/location_attic.txt
  games/an_arkham_horror/scenes/location_library.txt
  games/an_arkham_horror/scenes/location_sitting_room.txt
  games/an_arkham_horror/scenes/locations.txt
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all, npm run lint-markdown

Add necessary pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  images_gifs/forgot-did-i-forget-again.gif
Due: npm run lint-markdown

Add necessary pull request template (#24)
  .github/PULL_REQUEST_TEMPLATE.md
  images_gifs/forgot-did-i-forget-again.gif
Due: npm run lint-markdown

quick room tidy
  games/an_arkham_horror/scenes/rooms.txt
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all

quick room tidy
  games/an_arkham_horror/index.html
Due: none

Rooms (#25)
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/rooms.txt
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all

turn off saving. state messes with dev
  games/an_arkham_horror/gameprops/index.html
  games/an_arkham_horror/index.html
Due: none
