Repository cbmullen-inc/choicescripts: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run spellcheck, make test-all, npm run lint-markdown

turn off saving. state messes with dev (#26)
  games/an_arkham_horror/gameprops/index.html
  games/an_arkham_horror/index.html
Due: none

Fix gif
  .github/PULL_REQUEST_TEMPLATE.md
  images_gifs/forgot-did-i-forget-again.gif
Due: npm run lint-markdown

Fix gif (#27)
  .github/PULL_REQUEST_TEMPLATE.md
  images_gifs/forgot-did-i-forget-again.gif
Due: npm run lint-markdown

Add chaos pull to investigations
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/chaos_bag.txt
  games/an_arkham_horror/scenes/choicescript_stats.txt
  games/an_arkham_horror/scenes/rooms.txt
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all

Add chaos
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/rooms.txt
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all

Add chaos when investigating (#28)
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/chaos_bag.txt
  games/an_arkham_horror/scenes/choicescript_stats.txt
  games/an_arkham_horror/scenes/rooms.txt
  games/an_arkham_horror/scenes/startup.txt
Due: npm run spellcheck, make test-all

Add game structure
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/actions.txt
  games/an_arkham_horror/scenes/chaos_bag.txt
  games/an_arkham_horror/scenes/choicescript_stats.txt
  games/an_arkham_horror/scenes/choose_investigator.txt
  games/an_arkham_horror/scenes/encounter_action.txt
  games/an_arkham_horror/scenes/rooms.txt
  games/an_arkham_horror/scenes/startup.txt
  games/an_arkham_horror/scenes/turn_phases.txt
Due: npm run spellcheck, make test-all

Add game structure (#29)
  games/an_arkham_horror/index.html
  games/an_arkham_horror/scenes/actions.txt
  games/an_arkham_horror/scenes/chaos_bag.txt
  games/an_arkham_horror/scenes/choicescript_stats.txt
  games/an_arkham_horror/scenes/choose_investigator.txt
  games/an_arkham_horror/scenes/encounter_action.txt
  games/an_arkham_horror/scenes/rooms.txt
  games/an_arkham_horror/scenes/startup.txt
  games/an_arkham_horror/scenes/turn_phases.txt
Due: npm run spellcheck, make test-all

make it a snipping collection
  index.html
  old_index.html
  snips/Death.png
  snips/bird.png
  snips/hats.png
  snips/us_healthcare.png
Due: none

boilerplate
  games/xmas_jingles_1/.vscode/settings.json
  games/xmas_jingles_1/gameprops/index.html
  games/xmas_jingles_1/images/ElfJS.png
  games/xmas_jingles_1/index.html
  games/xmas_jingles_1/scenes/actions.txt
  games/xmas_jingles_1/scenes/chaos_bag.txt
  games/xmas_jingles_1/scenes/choicescript_stats.txt
  games/xmas_jingles_1/scenes/choose_investigator.txt
  games/xmas_jingles_1/scenes/end_game.txt
  games/xmas_jingles_1/scenes/rooms.txt
  games/xmas_jingles_1/scenes/startup.txt
  games/xmas_jingles_1/scenes/turn_phases.txt
  games/xmas_jingles_1/sounds/tempsound.mp3
  index.html
  old_index.html
Due: npm run spellcheck, make test-all

make it a snipping collection (#31)
  games/xmas_jingles_1/.vscode/settings.json
  games/xmas_jingles_1/gameprops/index.html
  games/xmas_jingles_1/images/ElfJS.png
  games/xmas_jingles_1/index.html
  games/xmas_jingles_1/scenes/actions.txt
  games/xmas_jingles_1/scenes/chaos_bag.txt
  games/xmas_jingles_1/scenes/choicescript_stats.txt
  games/xmas_jingles_1/scenes/choose_investigator.txt
  games/xmas_jingles_1/scenes/end_game.txt
  games/xmas_jingles_1/scenes/rooms.txt
  games/xmas_jingles_1/scenes/startup.txt
  games/xmas_jingles_1/scenes/turn_phases.txt
  games/xmas_jingles_1/sounds/tempsound.mp3
  index.html
  snips/Death.png
  snips/bird.png
  snips/hats.png
  snips/us_healthcare.png
Due: npm run spellcheck, make test-all

more boiler
  games/xmas_jingles_1/index.html
  games/xmas_jingles_1/scenes/actions.txt
  games/xmas_jingles_1/scenes/chaos_bag.txt
  games/xmas_jingles_1/scenes/choicescript_stats.txt
  games/xmas_jingles_1/scenes/choose_investigator.txt
  games/xmas_jingles_1/scenes/end_game.txt
  games/xmas_jingles_1/scenes/good_ending.txt
  games/xmas_jingles_1/scenes/help_mum_dad.txt
  games/xmas_jingles_1/scenes/naughty_ending.txt
  games/xmas_jingles_1/scenes/rooms.txt
  games/xmas_jingles_1/scenes/startup.txt
  games/xmas_jingles_1/scenes/turn_phases.txt
  index.html
Due: npm run spellcheck, make test-all

merge main into
  choicescript_src/web/mygame/images/ElfJS.png
  choicescript_src/web/mygame/index.html
  choicescript_src/web/mygame/scenes/actions.txt
  choicescript_src/web/mygame/scenes/chaos_bag.txt
  choicescript_src/web/mygame/scenes/choicescript_stats.txt
  choicescript_src/web/mygame/scenes/choose_investigator.txt
  choicescript_src/web/mygame/scenes/end_game.txt
  choicescript_src/web/mygame/scenes/good_ending.txt
  choicescript_src/web/mygame/scenes/help_mum_dad.txt
  choicescript_src/web/mygame/scenes/naughty_ending.txt
  choicescript_src/web/mygame/scenes/rooms.txt
  choicescript_src/web/mygame/scenes/startup.txt
  choicescript_src/web/mygame/scenes/turn_phases.txt
  choicescript_src/web/mygame/sounds/tempsound.mp3
Due: npm run spellcheck, make test-all

fix your mistakes
  choicescript_src/web/mygame/images/ElfJS.png
  choicescript_src/web/mygame/index.html
  choicescript_src/web/mygame/scenes/actions.txt
  choicescript_src/web/mygame/scenes/chaos_bag.txt
  choicescript_src/web/mygame/scenes/choicescript_stats.txt
  choicescript_src/web/mygame/scenes/choose_investigator.txt
  choicescript_src/web/mygame/scenes/end_game.txt
  choicescript_src/web/mygame/scenes/good_ending.txt
  choicescript_src/web/mygame/scenes/help_mum_dad.txt
  choicescript_src/web/mygame/scenes/naughty_ending.txt
  choicescript_src/web/mygame/scenes/rooms.txt
  choicescript_src/web/mygame/scenes/startup.txt
  choicescript_src/web/mygame/scenes/turn_phases.txt
  choicescript_src/web/mygame/sounds/tempsound.mp3
  games/xmas_jingles_1/index.html
  games/xmas_jingles_1/scenes/actions.txt
  games/xmas_jingles_1/scenes/chaos_bag.txt
  games/xmas_jingles_1/scenes/choicescript_stats.txt
  games/xmas_jingles_1/scenes/choose_investigator.txt
  games/xmas_jingles_1/scenes/end_game.txt
  games/xmas_jingles_1/scenes/rooms.txt
  games/xmas_jingles_1/scenes/startup.txt
  games/xmas_jingles_1/scenes/turn_phases.txt
Due: npm run spellcheck, make test-all

Snipping collection (#32)
  games/xmas_jingles_1/index.html
  games/xmas_jingles_1/scenes/actions.txt
  games/xmas_jingles_1/scenes/chaos_bag.txt
  games/xmas_jingles_1/scenes/choicescript_stats.txt
  games/xmas_jingles_1/scenes/choose_investigator.txt
  games/xmas_jingles_1/scenes/end_game.txt
  games/xmas_jingles_1/scenes/good_ending.txt
  games/xmas_jingles_1/scenes/help_mum_dad.txt
  games/xmas_jingles_1/scenes/naughty_ending.txt
  games/xmas_jingles_1/scenes/rooms.txt
  games/xmas_jingles_1/scenes/startup.txt
  games/xmas_jingles_1/scenes/turn_phases.txt
  index.html
Due: npm run spellcheck, make test-all

fix: reset changes
  games/xmas_jingles_1/.vscode/settings.json
  games/xmas_jingles_1/gameprops/index.html
  games/xmas_jingles_1/images/ElfJS.png
  games/xmas_jingles_1/index.html
  games/xmas_jingles_1/scenes/choicescript_stats.txt
  games/xmas_jingles_1/scenes/good_ending.txt
  games/xmas_jingles_1/scenes/help_mum_dad.txt
  games/xmas_jingles_1/scenes/naughty_ending.txt
  games/xmas_jingles_1/scenes/startup.txt
  games/xmas_jingles_1/sounds/tempsound.mp3
  index.html
  snips/Death.png
  snips/bird.png
  snips/hats.png
  snips/us_healthcare.png
Due: npm run spellcheck, make test-all

fix: add the other links back in
  index.html
Due: none

Add other links (#34)
  index.html
Due: none

fix: fix author
  .github/workflows/pull-request.yml
  jenny/little_red_riding_hood/index.html
Due: none

Path conditions:
  npm run spellcheck: any of: *.txt
  make test-all: any of: *.txt
  npm run lint-markdown: any of: *.md
